*{
	box-sizing: border-box;
}
.container{
	width: 1000px;
	margin: 20px auto;
}
.grid:after{
	content: "";
	display: table;
	clear: both;
}
.content-left{
	float: left;
	width: 700px;
	padding: 20px 0;
}
.content-right{
	float: left;
	width: 300px;
	padding: 20px 0;
}
ul.navmenu-1, ul.navmenu-2 {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.navmenu-2 {
	width: 300px;
	background-color: #f1f1f1;
}
ul.navmenu-2 li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}
ul.navmenu-2 li:hover a {
	background-color: #555;
	color: white;
}
ul.navmenu-1 li.active a,
ul.navmenu-2 li.active a,
ul.navmenu-1 li.active:hover a,
ul.navmenu-2 li.active:hover a{
	background-color: #4CAF50;
	color: white;
}
ul.navmenu-1{
	overflow: hidden;
	background-color: #333;
}
ul.navmenu-1 li{
	float: left;
}
ul.navmenu-1 li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
ul.navmenu-1 li:hover a{
	background-color: #111;
}
ul.navmenu-1 li:last-child {
	float: right;
}

