<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
       <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script defer src="js/jquery.flexslider.js"></script>
   <script type="text/javascript">
	$(window).load(function(){
	  $('.flexslider').flexslider({
		animation: "slide",
	  });
	});
</script>
    <title>Slider</title>
 
</head>
<body>
<section class="slider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="img/1.jpg" />
            </li>
            <li>
                <img src="img/2.jpg" />
            </li>
            <li>
                <img src="img/3.jpg" />
            </li>
            <li>
                <img src="img/4.jpg" />
            </li>
        </ul>
    </div>
</section>
     


</body>
</html>